.container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 200px;
}

.item{
    width: 10%;
    border: 1px solid black;
    background-color: rgb(197, 250, 250);
}